@model HoneypotCRMS4.Models.ClientViewModel

@{
    ViewData["Title"] = "User";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Client Portal</title>
    <link href="~/css/all.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/companies.css" rel="stylesheet">
    <link href="~/css/users.css" rel="stylesheet">
</head>
<body>
    <section class="page-content">
        <article class="board">
            <h2>Clients</h2>


            <div class="form">
            @using (Html.BeginForm("Index", "Client", FormMethod.Post,  new { @class="form" }))
            {
                <div class="form-element">
                    <label for="client-name">Client Name</label> 
                    @Html.ValidationMessageFor(model => model.NewClient.Name, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model =>  model.NewClient.Name, new { @class = " input-group" })
                </div>
                <div class="form-element">
                    <label for="client-email">Client Email</label> 
                    @Html.ValidationMessageFor(model => model.NewClient.Email, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model =>  model.NewClient.Email, new { @class = "input-group" })
                </div>
                <div class="form-element">
                    <label for="company-name">Company Name</label> 
                    @Html.ValidationMessageFor(model => model.NewClient.CompanyName , "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.NewClient.CompanyName , new { @class = "input-group" })
                </div>
                <button id="createClientButton" type="submit"  >Add Client</button>
            }
            </div>
            <table id="customers">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                @foreach (var user in Model.Clients)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@user.CompanyName</td>
                        <td>
                            @using (Html.BeginForm("Delete", "Client", FormMethod.Post))
                            {
                                @Html.Hidden("id", user.Id)
                                <button type="submit" class="delete-button">Delete</button>
                            }
                        </td>
                    </tr>
                }
            </table>
        </article>
    </section>
</body>
</html>
